body {
	background: #283138;
	text-align: center;
	color: #FFFFFF;
	font-family: "Lucida Console";
}

#main {
	width: 100%;
	height: 600px;
	background: #283138;
	margin: 50px auto;
}

h1 {
	text-align: center;
	font-family: "Lucida Console";
	font: 24pt;
	color: #FFFFFF;
}

hr {
	color: #FFFFFF;
}

/* Adds border with the same color as the background*/
table, th, td {
   border: 1px solid #283138;
}

table {
	margin: 50px auto;
    width: 600px;
	border: 1px solid black;
	border-collapse: collapse;
}

th {
    height: 30px;
	text-align: center;
	background-color: #29293d;
    color: white;
}

td {
    height: 40px;
    vertical-align: center;
}

/*Button for manual status change*/
button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 8px;

}

/*Footer styling for additional information*/
footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;
}

tr:nth-child(even) {background-color: #47476b;}
.button2 {background-color: lime;}
.table2 {
	margin: 50px auto;
		width: 300px;
	border: 1px solid black;
	border-collapse: collapse;
}
